#addtocart {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 6px 20px;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 18px / normal "Quantico", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ff3b3f;
  -webkit-box-shadow: 1px 1px 0 0 #ff3b3f;
  box-shadow: 1px 1px 0 0 #ff3b3f;
  text-shadow: 1px 1px 0 rgba(168, 168, 168, 0.66);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  bottom: 10px;
}
@keyframes zoom {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.Store {
  background-color: #efefef;
  margin-top: -22px;
  width: 100%;
}
.storeboxzero {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;
}
.storeboxone {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;

  word-wrap: break-word;
}
.storeboxtwo {
  background-color: #caebf2;
  font-size: 15px;
}
.storeboxthree {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;

  font-size: 25px;
}
.list-item {
  border-width: 3px;
  border-style: dotted;
  border-color: #ff3b3f;
}
.storeimg {
  animation-name: zoom;
  animation-duration: 2s;
}

@media only screen and (min-width: 1650px) {
  @keyframes zoom-desktop {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }

  .itemofstore {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

    align-items: center;

    align-content: space-around;
    width: 100%;
    height: auto;
  }
  .Store {
  }
  .storeboxzero {
    background-color: #caebf2;
    font-size: 35px;
    width: 100%;
  }
  .storeboxone {
    background-color: #caebf2;
    font-size: 25px;
    width: 100%;

    word-wrap: normal;
  }
  .storeboxtwo {
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
  }
  .storeboxthree {
    background-color: #caebf2;
    width: 100%;

    font-size: 30px;
  }
  .storeimg {
    width: 20%;
    animation-name: zoom-desktop;
    animation-duration: 2s;
  }
  #addtocart {
    width: 240px;
    height: 50px;
    font-size: 25px;
  }
  .list-item {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  @keyframes zoom-desktop {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }

  .itemofstore {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

    align-items: center;

    align-content: space-around;
    width: 100%;
    height: auto;
  }
  .Store {
  }
  .storeboxzero {
    background-color: #caebf2;
    font-size: 35px;
    width: 100%;
  }
  .storeboxone {
    background-color: #caebf2;
    font-size: 25px;
    width: 100%;

    word-wrap: normal;
  }
  .storeboxtwo {
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
  }
  .storeboxthree {
    background-color: #caebf2;
    width: 100%;

    font-size: 30px;
  }
  .storeimg {
    width: 20%;
    animation-name: zoom-desktop;
    animation-duration: 2s;
  }
  #addtocart {
    width: 240px;
    height: 50px;
    font-size: 25px;
  }
  .list-item {
    width: 40%;
  }
}
@media only screen and (min-width: 895px) and (max-width: 1200px) {
  @keyframes zoom-tab {
    from {
      width: 0%;
    }
    to {
      width: 40%;
    }
  }
  .storeboxzero {
    background-color: #caebf2;
    font-size: 30px;
    text-align: center;
  }
  .storeboxone {
    background-color: #caebf2;
    font-size: 25px;
    width: 100%;

    word-wrap: normal;
  }
  .storeboxtwo {
    width: 730px;
    margin-left: 90px;
    border-width: 5px;
    border-style: solid;
  }
  .storeboxthree {
    background-color: #caebf2;
    font-size: 20px;
    width: 100%;
    font-size: 30px;
  }
  .storeimg {
    width: 40%;
    animation-name: zoom-tab;
    animation-duration: 2s;
  }
  #addtocart {
    width: 160px;
    height: 40px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 895px) {
  .storeboxzero {
    background-color: #caebf2;
  }
  .storeboxone {
    background-color: #caebf2;
    font-size: 25px;
    width: 100%;

    word-wrap: normal;
  }
  .storeboxthree {
    background-color: #caebf2;
    font-size: 20px;
    width: 100%;
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
  .storeboxzero {
    background-color: #caebf2;
    font-size: 30px;
    width: 100%;
  }
  .storeboxone {
    background-color: #caebf2;
    font-size: 25px;
    width: 100%;

    word-wrap: normal;
  }
  .storeboxthree {
    background-color: #caebf2;
    font-size: 20px;
    width: 100%;

    font-size: 30px;
  }
}
