.Cart {
  background-color: #efefef;
}
.cartbutton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 6px 20px;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 18px / normal "Quantico", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: class= "support css-value" >clip;
  text-overflow: clip;
  background: #ff3b3f;
  -webkit-box-shadow: 1px 1px 0 0 #ff3b3f;
  box-shadow: 1px 1px 0 0 #ff3b3f;
  text-shadow: 1px 1px 0 rgba(168, 168, 168, 0.66);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  bottom: 10px;
}
.cartboxone {
  background-color: #caebf2;
}
.cartboxtwo {
  background-color: #caebf2;
  width: 100%;

  font-size: 25px;
}
.cartboxthree {
  background-color: #caebf2;
}
.cartboxfour {
  background-color: #caebf2;
  width: 100%;
  font-size: 25px;
}
.cartboxfive {
  background-color: #caebf2;
  font-size: 25px;
  width: 100%;
  font-size: 25px;
}
#cartorderh {
  position: relative;
  top: 10px;
}
#checkoutbutton {
  background-color: darkred;
}
/* .historyicon {
  width: 10%;
} */
.button {
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -moz-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -moz-box-shadow: 0 0 3px #b20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.cartimg {
  animation-name: zoom;
  animation-duration: 2s;
}

@media only screen and (min-width: 1650px) {
  .Cart {
  }
  .cartbutton {
    width: 230px;
    height: 40px;
    font-size: 30px;
  }
  .cartboxone {
    font-size: 25px;
  }
  .cartboxtwo {
  }
  .cartboxthree {
  }
  .cartboxfour {
    font-size: 25px;
  }
  .cartboxfive {
    font-size: 30px;
  }

  #cartorderh:hover {
    background: #caebf2;
  }
  .cartimg {
    width: 20%;
    animation-name: zoom-desktop;
    animation-duration: 2s;
  }
  .button {
    width: 230px;
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .itemofcart {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

    align-items: center;

    align-content: space-around;
    width: 100%;
    height: auto;
  }
  .cartbutton:hover {
    background: #caebf2;
  }
  .cartimg:hover {
    -webkit-transform: scale(3.3);
    -ms-transform: scale(3.3);
    transform: scale(3.3);
  }
}

/* desktop  */
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  .Cart {
  }
  .cartbutton {
    width: 230px;
    height: 40px;
    font-size: 30px;
  }
  .cartboxone {
    font-size: 25px;
  }
  .cartboxtwo {
  }
  .cartboxthree {
  }
  .cartboxfour {
    font-size: 25px;
  }
  .cartboxfive {
    font-size: 30px;
  }
  #cartorderh:hover {
    background: #caebf2;
  }
  .cartimg {
    width: 20%;
    animation-name: zoom-desktop;
    animation-duration: 2s;
  }
  .button {
    width: 230px;
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .itemofcart {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

    align-items: center;

    align-content: space-around;
    width: 100%;
    height: auto;
  }
  .cartbutton:hover {
    background: #caebf2;
  }
  .cartimg:hover {
    -webkit-transform: scale(3.3);
    -ms-transform: scale(3.3);
    transform: scale(3.3);
  }
}
@media only screen and (min-width: 895px) and (max-width: 1200px) {
  .cartbutton {
    width: 230px;
    height: 40px;
    font-size: 30px;
  }
  .cartboxone {
    font-size: 25px;
  }
  .cartboxtwo {
  }
  .cartboxthree {
  }
  .cartboxfour {
    font-size: 25px;
  }
  .cartboxfive {
    font-size: 30px;
  }
  #cartorderh {
  }
  .cartimg {
    width: 40%;
    animation-name: zoom-tab;
    animation-duration: 2s;
  }
  .button {
    width: 230px;
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 895px) {
  .cartbutton {
    width: 230px;
    height: 40px;
    font-size: 25px;
  }
  .cartboxone {
    font-size: 25px;
  }
  .cartboxtwo {
  }
  .cartboxthree {
  }
  .cartboxfour {
    font-size: 25px;
  }
  .cartboxfive {
    font-size: 30px;
  }
  #cartorderh {
  }
  .cartimg {
  }
  .button {
    width: 230px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
  .cartbutton {
    width: 200px;
    height: 30px;
    font-size: 25px;
  }
  .cartboxone {
  }
  .cartboxtwo {
    font-size: 25px;
  }
  .cartboxthree {
  }
  .cartboxfour {
  }
  .cartboxfive {
  }
  #cartorderh {
  }
  .cartimg {
    width: 40%;
  }
  .button {
    width: 200px;
    height: 30px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}
