.Home {
  background-color: #efefef;
  height: auto;
  margin-top: -25px;
}
.homeboxone {
  background-color: #caebf2;
  font-size: 15px;
}
.homeboxtwo {
  background-color: #caebf2;
  font-size: 30px;
  font-weight: bold;
}
.homeboxthree {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;
}
.homeboxfour {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;
}
.homeboxfive {
  background-color: #caebf2;
  font-size: 20px;
  width: 100%;
}
@media only screen and (min-width: 1650px) {
  .homeboxone {
    font-size: 26px;
  }
  .homeboxtwo {
    font-size: 45px;
  }
  .homeboxthree {
    font-size: 35px;
  }
  .homeboxfour {
    font-size: 35px;
  }
  .homeboxfive {
    font-size: 35px;
  }
  .homeimg {
    width: 20%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  .homeboxone {
    font-size: 23px;
  }
  .homeboxtwo {
    font-size: 45px;
  }
  .homeboxthree {
    font-size: 35px;
  }
  .homeboxfour {
    font-size: 35px;
  }
  .homeboxfive {
    font-size: 35px;
  }
  .homeimg {
    width: 30%;
  }
}
@media only screen and (min-width: 895px) and (max-width: 1200px) {
  .homeboxone {
    font-size: 23px;
  }
  .homeboxtwo {
    font-size: 45px;
  }
  .homeboxthree {
    font-size: 35px;
  }
  .homeboxfour {
    font-size: 35px;
  }
  .homeboxfive {
    font-size: 35px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 895px) {
  .homeboxone {
    font-size: 23px;
  }
  .homeboxtwo {
    font-size: 40px;
  }
  .homeboxthree {
    font-size: 25px;
  }
  .homeboxfour {
    font-size: 25px;
  }
  .homeboxfive {
    font-size: 25px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
  .homeboxthree {
    background-color: #caebf2;
    font-size: 25px;
  }
  .homeboxfour {
    background-color: #caebf2;
    font-size: 25px;
  }
  .homeboxfive {
    background-color: #caebf2;
    font-size: 25px;
  }
}
