.header-container {
  height: 10vh;
  width: 100%;
  background-color: #a9a9a9;
}

.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
#homelink {
  background-color: #ff3b3f;
  text-align: center;
  width: 60px;
  border-radius: 10px;
}
#storelink {
  background-color: #ff3b3f;
  width: 60px;
  border-radius: 10px;
}
#cartlink {
  background-color: #ff3b3f;
  width: 60px;
  border-radius: 10px;
}
#login {
  background-color: #ff3b3f;
  width: 60px;
  border-radius: 10px;
}
img {
  width: 50%;
  /* height: auto; */
}
#title {
  font-size: 30px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.username {
  background-color: #caebf2;
  width: 100%;
  position: relative;
  bottom: 13px;
  line-height: 2px;
}

@media only screen and (min-width: 1650px) {
  #homelink {
    background-color: #ff3b3f;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #storelink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #cartlink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #login {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  .username {
    width: 20%;
    margin-left: 80%;
    height: 30px;
    margin-top: -2%;
    line-height: 1;
    text-align: center;
  }
  #homelink:hover {
    background: lightblue;
  }
  #storelink:hover {
    background: lightblue;
  }
  #cartlink:hover {
    background: lightblue;
  }
  #login:hover {
    background: lightblue;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  #homelink {
    background-color: #ff3b3f;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #storelink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #cartlink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #login {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  .username {
    width: 20%;
    margin-left: 80%;
    height: 30px;
    margin-top: -2%;
    line-height: 1;
    text-align: center;
  }
  #homelink:hover {
    background: lightblue;
  }
  #storelink:hover {
    background: lightblue;
  }
  #cartlink:hover {
    background: lightblue;
  }
  #login:hover {
    background: lightblue;
  }
}
@media only screen and (min-width: 895px) and (max-width: 1200px) {
  #homelink {
    background-color: #ff3b3f;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #storelink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #cartlink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #login {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  .username {
    width: 20%;
    margin-left: 80%;
    margin-top: -2%;
  }
}
@media only screen and (min-width: 750px) and (max-width: 895px) {
  #homelink {
    background-color: #ff3b3f;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #storelink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #cartlink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #login {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  #homelink {
    background-color: #ff3b3f;
    text-align: center;
    width: 70px;
    height: 50px;
    margin: 10px;
  }
  #storelink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
  }
  #cartlink {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
  }
  #login {
    background-color: #ff3b3f;
    width: 70px;
    height: 50px;
  }
}
